.card{
    width: 25%;
    height: 30rem;
    background-color: rgb(206, 213, 225, 1);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.characterImageContainer{
    height: 50%;
    width: 100%;
    background-color: brown;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: inset 0 -5 5px rgba(0, 0, 0, 0.3);
}
.cardTitle{
    padding: 1rem;
    background-color: rgb(206, 213, 225, 0.1);
    height: 45%;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: inset 0 5 5px rgba(0, 0, 0, 0.3);
}
.cardImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.character, .characterText{
    color: rgb(20, 47, 86);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.character{
    font-size: 1.5rem;
    font-weight: bold;
}
.characterText{
    font-size: 1.2rem;
    font-weight: normal;
}